<form action="/logged_in/" method="post">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Screen</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/login_form_style.css') }}">
<div class="container">
  <div class="brand-logo"></div>
  <div class="brand-title">Flux Medicentre</div>
  <div class="inputs">
    <label>EMAIL</label>
    <input type="email" placeholder="example@test.com" />
    <label>PASSWORD</label>
    <input type="password" placeholder="Min 6 charaters long" />
    <button type="submit">LOGIN</button>
  </div>
  <a>© Santosh</a>
</div>
</html>
</form>