<link rel="stylesheet" href="{{ url_for('static', filename= 'css/patient_entry_form_style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Patient Entry form</title>
    <h1>Patient entry form</h1>
    <div class="container_topbar">
        <label>Date</label> <br>
        <input type="date" id="date" name="date"/>
        <label>Clinic Name</label>
        <input type="text" id="cnc_name" name="clinic_name"/> <br>
    </div>
    <div class="container_middlebar">
        <label>Patient Details</label>
        <label>Emergency Contact details</label> <br>
        <label>First Name</label>
        <input type="text" id="first_name" name="first_name"/>
        <label>Name</label>
        <input type="text" id="emg_name" name="emergency_name"/> <br>
        <label>Middle Name</label>
        <input type="text" id="middle_name" name="middle_name"/>
        <label>Contact Number</label>
        <input type="contact_number" id="contact_num" name="emg_contact_num" min="1" max="10"/> <br>
        <label>Last Name</label>
        <input type="text" id="lastname" name="last_name">
        <label>Email id</label> <br>
        <input type="text" id="email_id" name="Email_id"/> <br>
        <label>Contact number</label>
        <input type="number" id="contact_number" name="contact_number" min="1" max="10"/> <br>
        <label>Unique </label>
    </div>

</head>
<body>

</body>
</html>