<form action="/patient_vitals_recorded" method="post">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/patient_vitals_form_style.css')}}">
<head>
    <meta charset="UTF-8">
    <title>Patient Record form</title>
    <h1>Patient Data</h1>
    <div class="container_patient_data"/>
        <label>Patient Details</label> <br> <br>
        <label>First Name</label>
        <input type="text" id="first_name" name="first_name"/> <br>
        <label>Middle Name</label>
        <input type="text" id="middle_name" name="middle_name"/> <br>
        <label>Last Name</label>
        <input type="text" id="lastname" name="last_name"> <br>
        <label>Email id</label>
        <input type="text" id="email_id" name="email_id"/> <br>
        <label>Gender</label>
        <input type="text" id="gender" name="gender"/>
        <label>Patient record id</label>
        <input type="text" id="patient_record_id" name="patient_record_id"> <br>
</head>

<body>

</body>
</html>
</form>