@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #ecf0f3;
    font-family: poppins;
}

.container_default_section {
    position: relative;
    width: 850px;
    height: 150px;
    border-radius: 20px;
    padding: 40px;
    margin-bottom:20px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.container_patient_details_section {
    position: relative;
    width: 850px;
    height: 775px;
    border-radius: 20px;
    padding: 40px;
    margin-bottom:20px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}


.container_patient_location_section {
    position: relative;
    width: 850px;
    height: 425px;
    border-radius: 20px;
    padding: 40px;
    margin-bottom:20px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.container_doctor_physician_details_section {
    position: relative;
    width: 850px;
    height: 300px;
    border-radius: 20px;
    padding: 40px;
    margin-bottom:20px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

input {
  display: inline-block;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 40px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  width: 180px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

label {
  display: inline-block;
  width: 180px;
  margin-left: 15px;
  padding: 5px;
  margin-bottom: 4px;
  box-sizing: border-box;
}
